NODE_ENV=development
CIAM_ID="your-ciam-client-id"
CIAM_SECRET="your-ciam-client-secret"
CIAM_REDIRECT="http://localhost:7777/chart/callback"
CIAM_LOGOUT_REDIRECT="http://localhost:3000"
CLIENT_PATH="http://localhost:3000"
DATABASE_URL="mysql://username:password@localhost:3306/ppchart"
REDIS_HOST="localhost"
REDIS_PASSWORD=""
REDIS_NO=0
